td{
    font-size: 25px; 
}
td:hover{
    cursor: crosshair;
    color: rgb(0, 255, 213);
}
#z1{
    background-color: rgb(215, 215, 215);
}
#z1:hover{
    cursor: pointer;
    color: red;
}
td>#z1{
    direction: none;
    font-size: 15px;
}