*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 40px;
    background-color: rgb(249, 249, 249);
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
header>span{
    float: left;
    line-height: 40px;
    margin-left: 35px;
}
header span:nth-child(1) a:nth-child(1){
    color: red;
}
header ul{
    list-style: none;
    float: right;
    margin-right: 35px;
}
header ul li{
    float: left;
    line-height: 40px;
    padding: 0px 5px 0px 5px;
}
.i{
    width: 1px;
    height: 15px;
    margin-top: 12px;
    background-color: rgb(0, 0, 0);
    padding: 0px;
}
.span1{
    display: inline-block;
    width: 25px;
    height: 14px;
    background: url(./img/home_sprite.png)no-repeat -35px -86px;
    margin-top: 12px;
}
.span2{
    float: left;
    width: 11px;
    height: 16px;
    background: url(./img/home_sprite.png)no-repeat -40px -70px;
    margin-top: 12px;
}
header ul li:nth-child(7):hover .span2{
    background: url(./img/home_sprite.png)no-repeat -51px -70px;
    color: red;
}
header ul li:nth-child(7):hover{
    color: red;
}
.span3{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(./img/home_sprite.png)no-repeat -70px -310px;
    margin-top: 12px;
}
.nav1{
    width: 100%;
    background: url(./img/logo.jpg)no-repeat 70px 5px;
    height: 120px;
}
/* 导航栏 */
.nav2,.asidetop{
    height: 50px;
    background-color: red;
    color: white;
    font-weight: 600;
}
.nav2 ul{
    list-style: none;
    margin: 0 auto;
    width: 50%;
}
.nav2 li{
    float: left;
    line-height: 50px;
    margin-left: 25px;
}
.nav2 a{
    color: white;
}
/* 侧边栏 */
.box{
    width: 90%;
    /* background-color: teal; */
    margin: 0 auto;
}
aside{
    float: left;
    height: 620px;
    width: 250px;
    position: relative;
    top: -50px;
    left: 95px;
}
.asidetop{
    text-align: center;
    line-height: 50px;

}
.asidetop span:nth-child(1){
    width: 15px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 30px;
    background: url(./img/home_sprite.png) no-repeat 0px -560px;
    overflow: hidden;
}
.asidebody{
    box-sizing: border-box;
    padding: 20px;
}
.asidebox{
    width: 100%;
    height: 100%;
    background-color: rgb(72, 122, 111);
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    border-bottom: 1px dashed rgb(255, 255, 255);
}
.asidebox>a{
    font-size: 24px;
    color: white;
    border: none;
}
.box1{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgb(72, 122, 111);
    height: 560px;
}
.box1 span{
    float: left;
    width: 100%;
    background: none;
    margin-bottom: 15px;
}
.box1 hr{
    width: 100%;
    border: 1px dashed rgb(72, 122, 111);
}
.clear{
    clear: both;
}
.box1 .span1{
    font-weight: 600;
}
.box1 .span1 a{
    color: rgb(72, 122, 111);
}
.box1 .span2{
    margin-top: -5px;
    font-size: 14px;
}
/* 中间部分 */
article{
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
article>img,.bb{
    margin-top: 1px;
    margin-left: 100px;
}
/* 左边部分 */
.bl{
    float: right;
    width: 300px;
    margin-left: 45px;

}
.bl1,.bl2{
    float: right;
    border: 1px solid rgb(155, 155, 155);
    box-sizing: border-box;
    padding: 5px;
    width: 300px; 
    margin-bottom: 15px;
}
.bl2{
    height: 202px;
}
.bl1 li{
    list-style: none;
}
.bl2 h3,.bb img{
    float: left;
}
.bl2 span{
    float: right;
}
.bl2 img{
    float: left;
    margin-top: 10px;
}
.bl2 p{
    margin-top: 15px;
    color: red;
}
strike{
    color: rosybrown;
}
.yuan{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: seagreen;
    float: right;
    position: relative;
    top: 20px;
    margin-left: 5px;
    right: 100px;
}
/* 新书上架 */
.bb{
    width: 750px;
    height: 620px;
    /* background-color: seagreen; */
    box-sizing: border-box;
}
.bb1{
    float: left;
    margin-top: 5px;
    position: relative;
    margin-right: 37px;
}
.bb1 img:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
}
.bb1 h5{
    margin-top: 5px;
    margin-bottom: 20px;
}
.bb1 p{
    margin-top: 5px;
}
.bb1 p:nth-child(4),.bb .bb1:nth-child(2) p:nth-child(5){
    color: rgb(165, 155, 155);
}
.bb1 p:nth-child(5),
.bb .bb1:nth-child(2) p:nth-child(6)
{
    font-weight: 600;
    color: red;
}
.bb1 p strike{
    font-weight: 600;
    color: rgb(93, 93, 93);
    position: relative;
    left: 15px;
}
/* 新书热卖榜 */
.bl3{
    width: 300px;
    height: 545px;
    position: absolute;
    top: 556px;
    right: 343px;
}
.bl3t{
    line-height: 35px;
}
.bl3t span{
    float: left;
    height: 35px;
    width: 25px;
    background: url(./img/sprite.png)no-repeat 0px 0px;
}
.bl3ut a{
    float: left;
    border-right: 1px solid rgb(170, 170, 170);
    ;
    text-align: center;
    width: 59.2px;
    border-bottom: 1px solid  rgb(170, 170, 170);
    /* margin:0px; */
}
.bl3ut a:nth-child(1){
    color: cadetblue;
    text-decoration: underline;
    border-bottom: none;
}
.bl3ut a:nth-child(5){
    border-right: none;
}
.bl3uu{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgb(170, 170, 170);

}
.bl3uu ul{
    list-style: none;
}
.bl3uu li{
    border-bottom: 1px dashed #000;
    height: 40px;
    line-height: 40px;
}
.bl3uu ul li:nth-child(1){
    height: 180px;
}
.bl3uu ul li:nth-child(1) span,.bl3uu ul li:nth-child(1) img{
    float: left;
    color: red;
}
.bl3uu ul li:nth-child(1) img{
    margin-top: 20px;
}
.bl3uu ul li:nth-child(1) p{
    width: 70px;
    font-size: 14px;
    float: left;
    margin: 10px auto;
    line-height: 20px;
}
.bl3uu ul li:nth-child(1) p:nth-child(5){
    font-weight: 700;
}
.bl3uu ul li:nth-child(1) p:nth-child(6){
    font-weight: 700;
    color: red;
    margin-left: -70px;
}
.li2 span{
    color: red;
}
.li4{
    border-bottom: none !important;  
}
.li4 a{
    color: royalblue;
    float: right;
}
/* 见底了 */
footer{
    width: 100%;
    border-top: 1px solid rgb(158, 158, 158);
}
footer ul{
    list-style: none;
    width: 60%;
    margin: 0 auto;
}
footer ul li{
    float: left;
    font-size: 14px;
    margin: 0 10px 0px 10px;
}
footer ul li a{
    color: rgb(165, 165, 165);
}
.lii{
    width: 1px;
    height: 10px;
    margin-top: 5px;
    background-color: rgb(165, 165, 165);
}
footer span{
    display: inline-block;
    color: rgb(165, 165, 165);
    margin: 30px 0 30px 425px;
}