@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
h1,h2,h3{margin: 0; padding: 0;}
dl{margin:0; padding:0;}
img{display:block;}
*{ font-family:"微软雅黑";color:black;}
.clearfix{clear:both;}
a{text-decoration:none;}
body,ul{margin:0; padding: 0;}
li{list-style:none;}
	
	.top{margin:0 auto; width:100%; background-color: #FFFFFF;}
	.box{margin:0 auto;max-width:1365px;border-bottom: solid 1px #b3b3b3;height: 45px;position: relative;}
.ma{position: absolute;top:40px;right:200px; display: none;}
	.top ul{float:right;}
	.top li{float:left; padding-right: 10px;margin-top: 10px;}
	.top a{line-height: 25px; font-size: 14px; text-align: center;color: #f4a032;}
	.nav{max-width: 1365px;margin:0 auto;background-color:#FFFFFF;}
	.bg{width:100%;position: fixed;z-index: 1;}
	.logo{float:left;margin-top: 20px; }
    .nav .currentC{color:#007BE0;}
	.nav ul{float:right}
	.nav li{float:left;}
	.nav a{display:block; font-size:16px; color:#333333; padding:0 30px; line-height:92px; border-right:#f0f0f0 solid 1px;}
	.nav a:hover{ color:white; background-color:#0b88d4;}
	.ba,.ban{position:relative;max-width: 1365px;margin:0 auto; padding-top:132px ;}
	
.bubg{padding-bottom: 50px;}
	.button{margin:0 auto;max-width:1365px;border-bottom: solid 1px #b3b3b3; padding:20px 0;}
	.bu2 a{float:left;border-radius:2px; margin:0 10px; padding:8px 20px; cursor:pointer;margin-left: 100px;}
.zi{text-align: center;}
	.zu1{max-width:1065px;margin:0 auto;padding-bottom: 140px; padding-top: 100px;}
	.tu{float:left;}
 	.jieshao{float:right;font-size: 24px;font-weight: bold;}
.jieshao dd{font-size: 14px;font-weight:normal; color:#4c4c4c; padding-top:20px;line-height:24px;}
.zu2{max-width:1065px;margin:0 auto;padding-bottom: 140px;}
	.tu1{float:right;}
 	.jieshao1{float:left;font-size: 24px;font-weight: bold;}
.jieshao1 dd{font-size: 14px;font-weight:normal; color:#4c4c4c; padding-top:20px;line-height:24px;}
	.bottom{max-width: 1365px; border-top:solid 1px #b3b3b3;margin:0 auto;}
	.logo1{float:left;}
	.bottom ul{float:right;}
	.bottom li{float:left; padding-right: 5px;}
	.bottom a{border-right: solid 1px #b3b3b3;padding-right:10px;font-size: 14px; 
		color: #666666;line-height: 52px;}
	.box6{padding:20px 0; }
